footer{
    height: 134px;
    background-color: #0a141e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    >img{
        height: 44px; 
    }
    >.logos{
        display: flex;
        align-items: center;
        gap: 16px;
        >a{
            color: whitesmoke;
            text-decoration: none;
            &:hover{
                cursor: pointer;
                color: grey;
            }
        }
        >img{
            width: 32px;
            height: 32px;
        }
    }
}