<section>
  <h2>HOW TO ORDER</h2>
  <div class="how-to-order">
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png"
        alt=""
      />
      <span>Pick your noodle</span>
    </div>
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/PNG/broth.png"
        alt=""
      />
      <span>Pick your broth</span>
    </div>
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/PNG/egg.png"
        alt=""
      />
      <span>Add your toppings</span>
    </div>
  </div>
</section>
